= form_for @topic do |f|
  - if @topic.errors.any?
    #error_explanation
      %h2= "#{pluralize(@topic.errors.count, "error")} prohibited this topic from being saved:"
      %ul
        - @topic.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .actions
    = link_to 'Back', topics_path, class: 'btn btn-xs btn-default'
    = f.submit 'Save', class: 'btn btn-xs btn-primary'
