%h1 Topics

%table.table
  %thead
    %tr
      %th Name
      %th Actions

  %tbody
    - @topics.each do |topic|
      %tr
        %td= topic.name
        %td
          = link_to 'Edit', edit_topic_path(topic), class: 'btn btn-xs btn-default'
          = link_to 'Delete', topic, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'

%br

= link_to 'New Topic', new_topic_path, class: 'btn btn-xs btn-default'
