= form_for(event) do |f|
  - if event.errors.any?
    #error_explanation
      %h2
        = pluralize(event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - event.errors.full_messages.each do |message|
          %li= message
  .row
    .col-xs-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .row
        .form-group.col-xs-6
          = f.label :start_date
          #datetimepicker1.input-group.date
            = f.text_field :start_date, class: "form-control", value: (f.object.start_date.strftime("%Y-%m-%d %R") unless f.object.new_record?)
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
        .form-group.col-xs-6
          = f.label :end_date
          #datetimepicker2.input-group.date
            = f.text_field :end_date, class: "form-control", value: (f.object.start_date.strftime("%Y-%m-%d %R") unless f.object.new_record?)
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
      .row
        .form-group.col-xs-6
          = f.label :location_id
          = f.select :location_id, locations_for_select, class: "form-control"
        .form-group.col-xs-6
          = f.label :topics
          = f.collection_check_boxes(:topic_ids, Topic.all, :id, :name) do |topic|
            .checkbox
              = topic.label do |label|
                = topic.check_box
                = topic.object.name
    .form-group.col-xs-6
      = f.label :description
      = f.text_area :description, class: 'form-control', rows: 6
  .actions
    = link_to 'Back', events_path, class: 'btn btn-default btn-xs'
    = f.submit 'Save', class: 'btn btn-primary btn-xs'