%p#notice= notice
%h1 Events

%h3 Filter
= form_for(current_user) do |f|
  .row
    .col-xs-3
      .form-group
        = f.label :location_id
        = f.select :location_id, locations_for_select, class: "form-control", include_blank: true
      .form-group
        = f.label :filter_date, "Start Date"
        #datetimepicker3.input-group.date
          = f.text_field :filter_date, class: "form-control", value: (current_user.filter_date unless current_user.filter_date.blank?)
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar

    .form-group.col-xs-3
      = f.label :topics
      = f.collection_check_boxes(:topic_ids, Topic.all, :id, :name) do |topic|
        .checkbox
          = topic.label do |label|
            = topic.check_box
            = topic.object.name
    .actions.col-xs-3
      = f.submit "Filter", class: "btn btn-primary"

%br
%br
%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Location
      %th Topics
      %th Start date
      %th End date
      %th Actions
  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= event.description
        %td= event.location.try(:name)
        %td= event.topics.map(&:name).join(", ")
        %td= event.start_date.strftime("%Y-%m-%d %R") 
        %td= event.end_date.strftime("%Y-%m-%d %R")
        %td
          = link_to 'Edit', edit_event_path(event), class: 'btn btn-xs btn-default'
          = link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
%br/
= link_to 'New Event', new_event_path, class: 'btn btn-xs btn-default'
