%h1 Locations

%table.table
  %thead
    %tr
      %th Name
      %th Actions

  %tbody
    - @locations.each do |location|
      %tr
        %td= location.name
        %td
          = link_to 'Edit', edit_location_path(location), class: "btn btn-xs btn-default"
          = link_to 'Delete', location, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-xs btn-danger"

%br

= link_to 'New Location', new_location_path, class: 'btn btn-xs btn-default'
