- @client ||= current_user.try(:client)

%header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav{ role: 'banner' }
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { target: '.bs-navbar-collapse', toggle: 'collapse' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: root_url } Events Test App

    %nav.collapse.navbar-collapse.bs-navbar-collapse{ role: 'navigation' }
      %ul.nav.navbar-nav
        %li= link_to "Events", events_path
        %li= link_to "Locations", locations_path
        %li= link_to "Topics", topics_path
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Sign out", destroy_user_session_path, method: :delete
